.thumbnail {
    min-height: 500px;
}

body{
    background-color: #003366;
}

h2{
    color: white;
}

.jumboText{
    font-size: 50px;
}

.jumbotron{
    margin-top: 20px;
}

.thumbnail > img {
    height: 150px;
}