@import url("https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.3/fotorama.css");

body{
    padding-left: 50px;
    padding-right: 50px;
    background-image: url("Final_Photos/background.png");
}

.title{
    color:white;
    background-color: #990000;
    opacity: .8;
}

.row{
    padding-bottom: 20px;
}

.item{
    height:500px;
    background-color: black;
    
}

.row img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.itemProperties button{
    float: right;
}

.itemProperties{
    background-color: white;
    padding: 0px 10px 10px 10px;
}

footer .container{
    padding: 10px;
    background-color: pink;
    text-align: center;
}

footer img{
    width: 40px;
}

.cartSection{
    background-color: #cc0066;
    min-height: 500px;
    color:white;
}

.cartSection img{
    height: 20px;
    width: 20px;
}
.cartSection span{
    display: inline-block;
}
