html{
   margin-left: 100px;
   margin-right: 100px;
}

body{
    text-align: center;
    background-image: url("http://zabbyallen.com/user/pages/01.blog/freebie-friday-90s-inspired-backgrounds/pinkie-background.jpg");
}
.container{
    background-color: grey;
    opacity: .95;
    height: 800px;
}

a{
    color:black;
}

footer .container{
    padding: 10px;
    background-color: pink;
    height:auto;
    
}

footer img{
    width: 40px;
}

.images img{
    width:125px;
    height:125px;
}